.launchPage {
    width: 100vw;
    height: 100%;

    .main {
        height: 60%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;

        .name {
            font-weight: 600;
            font-size: 2rem;
            color: var(--ant-color-text);
            text-align: left;
        }

        .step {
            font-size: 1.25rem;
            color: var(--ant-color-text-secondary);
            text-align: left;
        }

        .progress {
            padding: 0 4rem;
            width: 100%;
        }
    }

    .footer {
        height: 40%;
        padding: 0 4rem;

        .notice {
            font-size: 0.875rem;
            color: var(--ant-color-text-tertiary);
            line-height: 1.5rem;
            text-align: left;
        }
    }
}