.aboutPage {
    height: 100%;
    padding: 1.5rem;
    overflow-y: auto;

    .about_app {
        font-weight: 500;
        font-size: 1.5rem;
        color: var(--ant-color-text);
        text-align: left;
        margin-bottom: 1.625rem;

    }

    .app_info {
        margin-bottom: 2.8125rem;
    }

    .app_info,
    .version_info {
        .des_name {
            position: relative;
            cursor: default;
        }

        .des_name::before {
            content: '';
            position: absolute;
            top: 0.375rem;
            left: -0.5rem;
            width: 0.375rem;
            height: 0.8125rem;
            background: var(--ant-color-info-text-active);
            border-radius: 0.3125rem;
        }
    }

    .feedback {
        display: flex;

        .feed,
        .checkVersion {
            display: flex;
            align-items: center;
            color: var(--ant-color-primary-text);
            line-height: 1.25rem;
            text-align: left;
            margin: 1rem 1rem 0 0;
            cursor: pointer;
        }
    }
}