.titlebar {
    flex: 0 0 3.6rem;
    overflow: hidden;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
    padding: 0 1rem;

    .titlebarLeft {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;

        .logo {
            width: 2rem;
            height: 2rem;
            pointer-events: none;
        }
    }

    .titlebarCenter {
        width: 50%;
        max-width: 33.4375rem;
        height: 2rem;
        background: var(--ant-color-border-bg);
        border-radius: 1rem;
        display: flex;
        align-items: center;
        padding: 0 0.5rem 0 1rem;
        border: 1px solid rgb(var(--ant-color-border-secondary));

        .inputBox {
            flex: 1;

            .input {
                width: 100%;
                border: none;
                background: var(--ant-color-border-bg);
                font-size: 0.75rem;

                &:focus {
                    outline: none;
                    background: var(--ant-color-bg-container);
                }
            }
        }

        // 当包含聚焦的 input 时
        &:focus-within {
            border-color: rgb(var(--primary-6));
            background: var(--ant-color-bg-elevated);
        }

        .inputIcon {
            width: 3rem;
            height: 1rem;
            margin-left: 0.5rem;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: flex-end;

        }
    }

    .titlebarRight {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        .title {
            cursor: pointer;

            :global(.ant-icon) {
                font-size: 1.2rem;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .titlebarLeft {
        .title {
            display: none;
        }
    }
}