.speedTool {
  flex: 1;
  display: flex;
  gap: 0.75rem;
  align-items: center;
  font-size: 0.75rem;

  .speedToolItem {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    .speedToolItemText {
      flex: 1;
      display: flex;
      align-items: center;
      gap: 0.25rem;

      .speedToolItemTextTitle {
        width: 1.75rem;
        color: var(--ant-color-text-secondary);
      }

      .speedToolItemTextValue {
        width: 4.25rem;
        color: var(--ant-color-primary-text);
      }
    }
  }
}