.sidebar {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;

  .menu {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    overflow-y: auto;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .menuItem {
    flex: 0 0 2.25rem;
    display: flex;
    align-items: center;
    padding: 0 0.75rem;
    cursor: pointer;
    transition: background-color 0.2s;
    border-radius: 0.25rem;
    gap: 0.5rem;
    overflow: hidden;

    // .additional {
    //   position: absolute;
    //   top: 0.125rem;
    //   right: -1.5rem;
    //   display: block;
    //   width: 1rem;
    //   height: 1rem;
    //   line-height: 1rem;
    //   font-size: 0.5rem;
    //   color: var(--ant-color-text-light-solid);
    //   text-align: center;
    //   background: var(--ant-color-highlight);
    //   border-radius: 50%;
    //   font-style: normal;
    // }

    // .notAdditional {
    //   display: none;
    // }

    &:hover {
      background-color: var(--ant-color-fill-secondary);
    }

    &.active {
      background-color: var(--ant-color-primary-bg-hover);

      .menuItemText {
        color: var(--ant-color-primary-text);
        font-weight: 500;
      }
    }

    .menuBadge {
      flex: 1;
      display: inline-flex;
      align-items: center;

      :global(.ant-badge-count) {
        // min-width: 1.2rem;
        width: 1.2rem;
        height: 1.2rem;
        line-height: 1.5rem;
        font-size: 0.75rem;
        transform: translateY(-2px);
        margin-left: 0.25rem;
        box-shadow: none;
        border-radius: 100%;
        align-items: center;
      }
    }
  }

  .menuItemIcon {
    :global(.i-icon) {
      height: 1rem;
      width: 1rem;
    }

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .menuItemText {
    font-size: 0.875rem;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
    position: relative;
    letter-spacing: 0.5rem;
  }

  .footerIcons {
    display: flex;
    gap: 0.5rem;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem 0;

    img {
      width: 2rem;
      height: 2rem;
      cursor: pointer;
    }
  }

  // .speedToolContainer {
  //   flex: 0 0 7.5rem;
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  //   overflow: hidden;
  //   transition: all 0.2s ease-in-out;
  //   position: relative;

  //   .speedTool {
  //     flex: 0 0 2.25rem;
  //     display: flex;
  //     align-items: center;
  //     justify-content: center;
  //     position: absolute;
  //     z-index: 100;
  //     opacity: 1;
  //     transition: all 0.2s ease-in-out;
  //   }

  //   .speedToolIcon {
  //     flex: 0 0 2.25rem;
  //     display: flex;
  //     align-items: center;
  //     justify-content: center;
  //     position: absolute;
  //     z-index: 99;
  //     opacity: 0;
  //     transition: all 0.2s ease-in-out;
  //   }
  // }
}


@media screen and (max-width: 768px) {
  .sidebar {
    .menu {
      .menuItem {
        padding: 0;

        .menuItemText {
          opacity: 0;

        }
      }
    }

    .footerIcons {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }

  }
}