.appDetail {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;

    .ability {
        width: 100%;
        position: relative;

        .goBack {
            cursor: pointer;
            position: absolute;
            top: 0.5rem;
            left: 0.5rem;
            width: 1.375rem;
            height: 1.375rem;
            border-radius: 0.625rem;
            background: var(--ant-color-primary-bg);
        }

        .goBack:hover {
            background: var(--ant-color-primary-bg-hover);
        }

        .application {
            // flex: 1;
            padding: 2rem 2.625rem;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .appLeft {
                .icon {
                    width: 7rem;
                    height: 7rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: 1rem;
                    background-color: var(--ant-color-primary-bg);
                    border-radius: 0.25rem;

                    img {
                        max-width: 100%;
                        max-height: 100%;
                        border-radius: 0.25rem;
                    }
                }
            }

            .appRight {
                flex: 1;
                display: flex;
                flex-flow: column nowrap;

                .appName {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .head {
                        display: flex;
                        flex-flow: column nowrap;
                        align-items: flex-start;
                        justify-content: flex-start;

                        .nameId {
                            font-size: 1.625rem;
                            color: var(--ant-color-text);
                            text-align: left;
                        }

                        .appClass {
                            font-size: 0.75rem;
                            color: var(--ant-color-text-secondary);
                            text-align: left;
                        }
                    }

                    .install {
                        display: flex;
                        flex-flow: column nowrap;
                        align-items: center;
                        justify-content: flex-start;

                        .installButton {
                            width: 6rem;
                        }

                        .history {
                            font-size: 0.75rem;
                            color: var(--ant-color-text-tertiary);
                            text-align: left;
                            cursor: pointer;
                        }

                        .history:hover {
                            color: var(--ant-color-primary-bg-hover);
                        }
                    }
                }

                .appDesc {
                    width: 100%;
                    flex: 1;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;

                    .modules {
                        width: 18%;
                        min-width: 5rem;
                        font-size: 0.875rem;
                        margin-right: 1rem;
                        display: flex;
                        flex-flow: column nowrap;
                        justify-content: center;
                        align-items: center;

                        :global(.ant-typography) {
                            width: 100%;
                            text-align: center;
                            margin-bottom: 0;
                        }
                    }

                    .separate {
                        position: relative;
                    }

                    .separate::after {
                        content: '';
                        width: 1px;
                        height: 1.5rem;
                        background: var(--ant-color-border-secondary);
                        position: absolute;
                        right: -0.5rem;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }

            }
        }
    }

    .describe {
        padding: 2rem;
        width: 100%;

        .title {
            font-weight: 500;
            font-size: 1.5rem;
            color: var(--ant-color-text);
            text-align: left;
            padding-bottom: 1rem;
            margin-bottom: 1.5rem;
            border-bottom: 1px solid rgb(var(--ant-color-border-secondary));
        }

        .content {
            font-size: 1rem;
            color: var(--ant-color-text-secondary);
            text-align: left;
        }
    }

    .screenshot {
        padding: 2rem;
        width: 100%;

        .title {
            font-weight: 500;
            font-size: 1.5rem;
            color: var(--ant-color-text);
            text-align: left;
            padding-bottom: 1rem;
            margin-bottom: 1.5rem;
            border-bottom: 1px solid rgb(var(--ant-color-border-secondary));
        }

        .imgBox {
            width: 100%;
            overflow-x: scroll;

            .imgList {

                white-space: nowrap;

                :global(.ant-image) {
                    border-radius: 0.5rem;
                    margin-right: 1rem;
                }
            }
        }
    }

    .version {
        padding: 2rem;
        width: 100%;

        .title {
            font-weight: 500;
            font-size: 1.5rem;
            color: var(--ant-color-text);
            text-align: left;
            padding-bottom: 1rem;
            margin-bottom: 1.5rem;
            border-bottom: 1px solid rgb(var(--ant-color-border-secondary));
        }
    }
}

@media screen and (max-width: 768px) {
    .appDetail {
        .ability {
            .application {
                .appRight {
                    .appDesc {
                        display: none;

                        .modules {}

                        .separate {}

                    }

                }
            }
        }


    }



}