.appSetting {
  width: 100%;
  height: 100%;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  .header {
    width: 100%;
    height: 2rem;
    display: flex;
    align-items: center;
    padding: 1.25rem;
    gap: 1rem;
    border-bottom: 1px solid var(--ant-color-border);
    margin-bottom: 1rem;

    .title {
      cursor: pointer;
      font-size: 1rem;
      text-align: center;
      font-weight: normal;
      color: var(--ant-color-text);
    }

    .activeTitle {
      color: var(--ant-color-primary);
      position: relative;
    }

    .activeTitle::before {
      content: '';
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: -0.25rem;
      width: 100%;
      height: 2px;
      background: var(--ant-color-primary);
    }
  }

  .content {
    width: 100%;
    flex: 1;
    overflow-y: auto;
  }
}