# GitHub Token
# 创建方法：GitHub Settings -> Developer settings -> Personal access tokens
# 需要的权限：repo (完整仓库访问)
GITHUB_TOKEN=

# Gitee Token
# 创建方法：Gitee 设置 -> 私人令牌 -> 生成新令牌
# 需要的权限：projects (完整仓库访问)
GITEE_TOKEN=

# GitHub 仓库（格式：owner/repo）
GITHUB_REPO=SXFreell/linglong-store

# Gitee 仓库（格式：owner/repo）
GITEE_REPO=Shirosu/linglong-store
