.carouselBox {
    background-color: var(--ant-color-fill-tertiary);
    border-radius: 0.5rem;

    :global(.slick-arrow) {
        color: var(--ant-color-text-tertiary);
    }
}

.carouselItemWrapper {
    display: flex !important;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 2rem;
}

.carouselItem {
    width: 64%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    .carouselItemIcon {
        flex: 0 0 8rem;
        height: 8rem;
        width: 8rem;
    }

    .carouselItemContent {
        flex: 1;
        min-width: 12rem;
        display: flex;
        flex-direction: column;
        gap: 0.25rem;

        .carouselItemName {
            font-size: 1.5rem;
            margin-bottom: 0.5rem;
        }

        .carouselItemSmall {
            font-size: 1rem;
            margin-bottom: 0;
        }

        .installButton {
            margin-top: 0.5rem;
            width: fit-content;
        }
    }
}
