.layout {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--ant-color-bg-layout);

    .header {
        flex: 0 0 3.6rem;
        width: 100%;
    }

    .layoutContent {
        flex: 1;
        width: 100%;
        height: calc(100vh - 3.6rem);
        display: flex;
        position: relative;

        .sider {
            flex: 0 0 12rem;
            width: 12rem;
            height: 100%;
            overflow: hidden;
            transition: all 0.2s ease-in-out;
        }

        .content {
            flex: 1;
            height: 100%;
            overflow: auto;
            background-color: var(--ant-color-bg-container);
            border-radius: 0.5rem 0 0 0;
            position: relative;
        }
    }
}

@media screen and (max-width: 768px) {
    .layout {
        .layoutContent {
            .sider {
                flex: 0 0 3.5rem;
                width: 3.5rem;
            }
        }
    }
}